@use "$/fonts/CommitMono.scss";
@use "$/fonts/Belanosima.scss";

* {
    box-sizing: border-box;

    margin: unset;
    padding: unset;
    border: unset;

    background: unset;
    font-family: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    font-size: unset;
}

body {
    background: oklch(0.2 0.02 190);
    color: oklch(0.9 0.008 210);

    font-family: "Belanosima", sans-serif;
}

a {
    color: oklch(0.7 0.01 200);
    text-decoration: none;

    &:hover,
    &:focus-within {
        color: oklch(1 0.01 200);
    }

    &:active {
        color: oklch(0.9 0.01 200 / 0.1);
    }
}

h1 {
    font-weight: 600;
    font-size: 3em;
    line-height: 1.5;
}