@use "$/fonts/CommitMono.scss";
@use "$/fonts/Belanosima.scss";
@use "$/fonts/AveriaLibre.scss";

@use "$/styles/colors.scss";
@use "$/styles/fonts.scss";
@use "$/styles/responsive.scss";

* {
    box-sizing: border-box;

    margin: unset;
    padding: unset;
    border: unset;

    background: unset;
    font-family: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    font-size: unset;
}

body {
    overflow: hidden;
    
    background: colors.$bg;
    color: colors.$fg;

    font-family: "Averia Libre", sans-serif;
    font-weight: 200;
    font-size: 0.75rem;
}

a,
button {
    color: oklch(0.9 0.08 350);
    text-decoration: none;

    &:hover,
    &:focus-within {
        color: oklch(1 0.01 350);
    }

    &:active {
        color: oklch(0.9 0.08 350 / 0.1);
    }
}

h1 {
    @include fonts.heading;
    
    font-size: 3em;
}
