@use "$/fonts/CommitMono.scss";
@use "$/fonts/Belanosima.scss";
@use "$/fonts/AveriaLibre.scss";

@use "$/styles/colors.scss";
@use "$/styles/fonts.scss";
@use "$/styles/responsive.scss";

* {
    box-sizing: border-box;

    margin: unset;
    padding: unset;
    border: unset;

    background: unset;
    font-family: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    font-size: unset;
}

body {
    overflow: hidden;
    
    background: colors.$bg;
    color: colors.$fg;

    font-family: "Averia Libre", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    
    @media screen and (min-width: responsive.$resize-threshold) {
        font-size: 1rem;
    }
}

a,
button {
    color: oklch(0.95 0.05 180 / 0.7);
    text-decoration: none;

    &:hover,
    &:focus-within {
        color: oklch(1 0.01 200);
    }

    &:active {
        color: oklch(0.95 0.05 180 / 0.1);
    }
}

h1 {
    @include fonts.heading;
    
    font-size: 3em;
}
